* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* header */
header {
     background-color: #6C63FF;
     padding: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
}

header nav ul {
     list-style: none;
     display: flex;
}

header nav ul li a {
     text-decoration: none;
     color: #fff;
     font-weight: bold;
     transition: 0.5s;
     /* border-radius: 8px; */
     padding: 32px 20px;
}

header nav ul li a:hover {
     background-color: #1f17c2;
}

header img {
     height: 60px;
}

/* main */
main {
     background-color: #d8d6f5;
     display: flex;
     align-items: center;
     padding: 60px 20px;
     flex-wrap: wrap;
     gap: 20px;
}

.esquerda {
     flex: 2;
     min-width: 70%;
}

.direita {
     flex: 1;
}

/* footer */
footer {
     background-color: #6C63FF;
     color: #fff;
     padding: 30px;
     text-align: center;
}


