@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary-color: #10263e;
    --secundary-color: #FFA500;
    --color-action: #2ECC71;
    --color-inverse: #f4f3f3;
    /* --primary-color: #001F3F;
    --secundary-color: #2ECC71;
    --color-background: #F2F2F2;
    --color-action: #FFA500;
    --color-inverse: #f4f3f3; */
    font-family: 'Roboto', sans-serif;
    /* 1rem = 16px (User Agent) = 100% (User Agent) */
    font-size: 62.5%; /* 10px */
}

.color-action {
    color: var(--color-action);
}

body {
    /* padding-top: 6rem; */
    font-size: clamp(1.4rem, 1.6rem, 2vh);
}

.container-fluid {
    width: 100%;
    padding: 0 1.5rem;
}

.container {
    width: 80%;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


/* ------------ grid 12 colunas */

/* Linha para envolver as colunas */
.row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
  }
  
  /* Coluna flexível com padding */
  .col {
    box-sizing: border-box;
    flex: 1 0 0; /* Cresce proporcionalmente, mas não encolhe */
    padding: 1.5rem;
  }
  
  /* Colunas para telas grandes */
  @media (min-width: 992px) {
    .col-lg-1 { flex-basis: calc(100% / 12 * 1); }
    .col-lg-2 { flex-basis: calc(100% / 12 * 2); }
    .col-lg-3 { flex-basis: calc(100% / 12 * 3); }
    .col-lg-4 { flex-basis: calc(100% / 12 * 4); }
    .col-lg-5 { flex-basis: calc(100% / 12 * 5); }
    .col-lg-6 { flex-basis: calc(100% / 12 * 6); }
    .col-lg-7 { flex-basis: calc(100% / 12 * 7); }
    .col-lg-8 { flex-basis: calc(100% / 12 * 8); }
    .col-lg-9 { flex-basis: calc(100% / 12 * 9); }
    .col-lg-10 { flex-basis: calc(100% / 12 * 10); }
    .col-lg-11 { flex-basis: calc(100% / 12 * 11); }
    .col-lg-12 { flex-basis: 100%; }
  }
  
  /* Colunas para telas médias */
  @media (min-width: 768px) and (max-width: 992px) {
    .col-md-1 { flex-basis: calc(100% / 12 * 1); }
    .col-md-2 { flex-basis: calc(100% / 12 * 2); }
    .col-md-3 { flex-basis: calc(100% / 12 * 3); }
    .col-md-4 { flex-basis: calc(100% / 12 * 4); }
    .col-md-5 { flex-basis: calc(100% / 12 * 5); }
    .col-md-6 { flex-basis: calc(100% / 12 * 6); }
    .col-md-7 { flex-basis: calc(100% / 12 * 7); }
    .col-md-8 { flex-basis: calc(100% / 12 * 8); }
    .col-md-9 { flex-basis: calc(100% / 12 * 9); }
    .col-md-10 { flex-basis: calc(100% / 12 * 10); }
    .col-md-11 { flex-basis: calc(100% / 12 * 11); }
    .col-md-12 { flex-basis: 100%; }
  }
  
  /* Colunas para telas pequenas */
  @media (max-width: 768px) {
    .col-sm-1 { flex-basis: calc(100% / 12 * 1); }
    .col-sm-2 { flex-basis: calc(100% / 12 * 2); }
    .col-sm-3 { flex-basis: calc(100% / 12 * 3); }
    .col-sm-4 { flex-basis: calc(100% / 12 * 4); }
    .col-sm-5 { flex-basis: calc(100% / 12 * 5); }
    .col-sm-6 { flex-basis: calc(100% / 12 * 6); }
    .col-sm-7 { flex-basis: calc(100% / 12 * 7); }
    .col-sm-8 { flex-basis: calc(100% / 12 * 8); }
    .col-sm-9 { flex-basis: calc(100% / 12 * 9); }
    .col-sm-10 { flex-basis: calc(100% / 12 * 10); }
    .col-sm-11 { flex-basis: calc(100% / 12 * 11); }
    .col-sm-12 { flex-basis: 100%; }
  }
  

/* ------------ fim grid 12 colunas */

/* ---------- header e navbar ---------- */
header {
    background-color: var(--primary-color);
    /* position: fixed;
    top: 0; */
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-inverse) ;
    min-height: 6rem;
}

.nav-bar .nav-list {
    display: flex;
    gap: 1.5rem;
}

.nav-bar .nav-list .nav-item .nav-link {
    color: var(--color-inverse);
    position: relative;
}

.nav-bar .nav-list .nav-item .nav-link:hover {
    color: var(--color-action);
}

.nav-bar .nav-list .nav-item .nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.2rem;
    background-color: var(--color-action);
    bottom: -0.8rem;
    left: 0;
    transition: 0.25s;
}

.nav-bar .nav-list .nav-item .nav-link:hover::after {
    width: 100%;
}


.btn-login {
    background-color: var(--color-action);
    font-weight: 700;
    color: var(--primary-color);
    border: 3px solid var(--color-action);
    padding: 0.5rem 2.0rem;
    text-align: center;
    margin: 2rem 0;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: var(--primary-color);
    color: var(--color-action);
    border: 3px solid var(--color-action);
    box-shadow: 0 0 1rem var(--color-action);
}

.mobile-nav-icon {
    display: none;
}

.mobile-nav, .mobile-nav .nav-list, .mobile-nav .btn-login {
    display: none;
    transition: 0.3s ease-in-out;
}

.open {
    display: block;
}
/* ---------- fim do header/navbar ---------- */


/* -------------- responsividade ---------------- */
/* header/navbar */
@media only screen and (max-width: 600px) {
    .nav-bar .nav-list, .nav-bar .btn-login {
        display: none;
    }

    .mobile-nav-icon {
        display: block;
        
    }

    .mobile-nav {
        /* text-align: center; */
        padding: 3rem 0;
        background-color: var(--primary-color);
    }   

    .border-gradient {
        /* width: 100%; */
        height: 0.2rem;
        background: linear-gradient(to right, transparent, var(--color-action), transparent);;
    }

    .mobile-nav .nav-list {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }
    .mobile-nav .nav-list .nav-item .nav-link {
        color: var(--color-inverse);
        margin: 2rem 0;
        position: relative;
        transition: 0.3s;
    }

    .mobile-nav .nav-list .nav-item .nav-link:hover {
        color: var(--color-action);
    }

    .mobile-nav .btn-login {
        display: block;
        text-align: center;
        margin-top: 2rem;
        padding: 1rem;
    }
}
/* fim do header/navbar */

/* ----------- section home ------------ */
.home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-info h1 {
    color: var(--color-inverse);
    font-family: 'Montserrat','Roboto',sans-serif;
    /* padding-right: 10%; */
    font-size: 3.2rem;
    font-weight: 900;
    margin: 0.5rem 0;
}

.home-info h2 {
    color: var(--color-inverse);
    font-weight: 400;
}

.home-info h3 {
    color: var(--color-inverse);
}

.home-info .btn-login {
    padding: 1.2rem 4rem; 
    width: fit-content; 
    margin-bottom: 4rem;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
}


.img-fluid {
    width: 100%;
    height: auto;
}

#home {
    background-color: var(--primary-color);
    padding: 60px 0;
    z-index: 1;
    
}

#home .home-image {
    position: relative;
    z-index: 1;
    padding-top: 60px;
}

#home .home-img img {
    margin-top: 80px;
}

#home .shape-liquid {
    position: absolute;
    width: 80%;
    height: 100%;
    top: -10%;
    right: 5%;
    z-index: -1;
}

#home .shape-liquid path {
    fill: var(--color-action);
}

#home .shape-liquid:nth-child(2) {
    filter: blur(30px);

}

/* ----------- end section home ------------ */